<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <link rel="stylesheet" href="/stylesheets/calculator.css" />
    <link rel="stylesheet" href="/stylesheets/calculatorutility.css" />
  </head>
  <body>
    <a class="text-blue-500" href="/profile">Get Back To Profile</a>
    <h1 class="text-center">Welcome To Calculator</h1>
    <div class="container flex align-center flex-column">
      <div class="row">
        <input type="text" disabled />
        
      </div>
      <div class="row">
        <button>C</button>
        <button>%</button>
        <button>√</button>
        <button>^</button>
      </div>
      <div class="row">
        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button>*</button>
      </div>
      <div class="row">
        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>-</button>
      </div>
      <div class="row">
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>+</button>
      </div>
      <div class="row">
        <button>0</button>
        <button>.</button>
        <button>=</button>
        <button>/</button>
        <div class="row flex justify-center">
          <button>←</button>
        </div>
      </div>
    </div>
    <script src="/javascripts/calculator.js"></script>
  </body>
</html>
